html, body, input {
    font-family: Lato, Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1024px; 
    margin: 0 auto;
}
label, input {
    display: block;
    width: 100%;
}
label {
    height: 16px;
    font-size: 12px;
    color: #787C87;
    order: 1;
    transition: 0.3s;
}
ul{
    padding: 0;
    margin: 0;
}

/* ----INPUT---- */
.input-wrap {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 8px 0 24px 0;
    position: relative;
}
input {
    height: 32px;
    color: #323D44;
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;
    font-style: normal;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    order: 2;
    outline: none;
    background-color: transparent;
    padding: 0;
}
input::placeholder {
    font-size: 16px;
    font-style: italic;
}
input::placeholder {
    color: #BFC6CB;
    font-weight: normal;
}
.input-border{
    width: 0;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.1s;
}
input:focus ~ label {
    color: #008AE2;
}
input:focus ~ .input-border{
    width: 100%;
    background-color: #008AE2;
}

/* ----DROPDOWN---- */
.input-wrap {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 8px 0 24px 0;
    position: relative;
}
.input-wrap .dropdown-input {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative;
    color: #BFC6CB;
    background-color: transparent;
    border-bottom: 1px solid #D9D9D9;
    order: 2;
    outline: none;
    font-style: italic;
}
.input-wrap .active-input{
    font-weight: bold;
    color: #323D44;
    font-style: normal;
}
.dropdown-input:focus ~ .input-border{
    width: 100%;
    background-color: #008AE2;
}
.dropdown-input:focus ~ label {
    color: #008AE2;
}
.dropdown-input:after {
    content: url(arrowDown_16.png);
    height: 16px;
    width: 16px;
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 1;
}
.input-wrap .dropdown-list {
    visibility: hidden;
    opacity: 0;
    background-color: white;
    position: absolute;
    list-style: none;
    top: 56px;
    width: 100%;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0px 7px 25px -4px rgba(15, 12, 41, 0.3);
    transition: all 0.3s;
  }
.dropdown-list .clear {
    color: red;
    border-bottom: 1px solid #D9D9D9;
}

.input-wrap .dropdown-list li {
    padding: 11px;
    cursor: pointer;
}
.input-wrap .hoverList {
    background-color: #eff5f9;
}
.input-wrap .dropdown-list li:last-child:hover{
    border-radius: 0 0 5px 5px;
}
.input-wrap .activeList {
    visibility: visible;
    opacity: 1;
}
.dropdown-list .active-item {
    background-color: #008AE2;
    color: white;
}
